<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Khóa học </a>
                                    </li>
                                    <li>
                                        <a href="#">Kích hoạt khóa học</a>
                                    </li>

                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail">
                                        <img src="./img/icon-mobile-phone.png" alt="">
                                    </a>
                                    <a href="#" class="menu-socail">
                                        <img src="./img/logo-zalo.png" alt="logo-zalo.png">
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <img src="./img/logo-mess.png" alt="logo-mess.png">
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-right">
                            <div class="header-search">
                                <form action="#" class="search-form">
                                    <input type="text" class="f-control" placeholder="Nhập từ khóa">
                                    <button class="f-submit" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>

                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="header-account">
                                <div class="account-title">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </div>
                                <div class="account-wrappe">
                                    <div class="account-box">
                                        <a href="#" class="btn btn-login tt-16">Đăng nhập

                                        </a>
                                    </div>
                                    <div class="account-box">
                                        <a href="#" class="btn btn-signup tt-16">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-cart">
                                <div class="cart-btn">
                                    <p class="cart-text tt-16">
                                        Giỏ hàng
                                    </p>
                                    <img src="./img/icon-cart.svg" alt="icon-cart.svg">
                                    <div class="qty-cart">1</div>
                                </div>
                                <div class="cart-content">
                                    <ul class="cart-list">
                                        <li class="cart-item">
                                            <div class="cart-close">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="./img/cart1.png" alt="cart1.png">
                                                </a>
                                            </div>
                                            <div class="cart-info">
                                                <h3 class="cart-title tt-16 title t-uppercase">
                                                    <a href="#">
                                                        CRÊPE PRINTED
                                                    </a>
                                                </h3>
                                                <p class="cart-price">
                                                    100,000đ
                                                </p>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-close">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="./img/cart1.png" alt="cart1.png">
                                                </a>
                                            </div>
                                            <div class="cart-info">
                                                <h3 class="cart-title tt-16 title t-uppercase">
                                                    CRÊPE PRINTED
                                                </h3>
                                                <p class="cart-price">
                                                    100,000đ
                                                </p>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-close">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="./img/cart1.png" alt="cart1.png">
                                                </a>
                                            </div>
                                            <div class="cart-info">
                                                <h3 class="cart-title tt-16 title t-uppercase">
                                                    CRÊPE PRINTED
                                                </h3>
                                                <p class="cart-price">
                                                    100,000đ
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart-total">
                                        <p class="total-t">Tổng tiền</p>
                                        <p class="total-n tt-18">
                                            300,000đ
                                        </p>
                                    </div>

                                    <div class="cart-pay">
                                        <a href="#" class="btn btn-black btn-link title f-bold">Thanh toán</a>
                                        <a href="#" class="btn btn-white btn-link title f-bold">Xem giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main bg-f8-cl">
            <div class="breadcrumb ">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list current ">
                            <a href="news.html">Đổi mật khẩu </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box-account sec-80">
                <div class="container">
                    <div class="box-wrapper">
                        <div class="columns">
                            <div class="column sidebar">
                                <div class="box-inner">
                                    <ul class="box-list">
                                        <li class="box-item ">
                                            <a href="#" class="box-link tt-16 ">
                                                Tài khoản của tôi
                                            </a>
                                        </li>
                                        <li class="box-item curent">
                                            <a href="#" class="box-link tt-16">
                                                Đổi mật khẩu
                                            </a>
                                        </li>
                                        <li class="box-item">
                                            <a href="#" class="box-link tt-16">
                                                Khóa học của tôi
                                            </a>
                                        </li>
                                        <li class="box-item">
                                            <a href="#" class="box-link tt-16">
                                                Giỏ hàng
                                            </a>
                                        </li>
                                        <li class="box-item">
                                            <a href="#" class="box-link tt-16">
                                                Lịch sử mua khoá học
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column col-content">
                                <div class="pass-inner">
                                    <h3 class="pass-title tt-40">
                                        Đổi mật khẩu
                                    </h3>
                                    <form action="#">
                                        <div class="pass-wrap">
                                            <div class="pass-cols">
                                                <div class="pass-col">
                                                    <div class="pass-group">
                                                        <input type="text" class="f-control" placeholder="Mật khẩu cũ">
                                                    </div>
                                                </div>

                                                <div class="pass-col">
                                                    <div class="pass-group">
                                                        <input type="text" class="f-control" placeholder="Mật khẩu mới">
                                                    </div>
                                                    <div class="pass-group">
                                                        <input type="text" class="f-control"
                                                            placeholder="Nhập lại mật khẩu">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>



                                    <div class="account-submit">
                                        <input type="submit" value="cập nhật" class="btn f-sub btn-main t-update">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="ftop-wrapper">
                            <div class="columns">
                                <div class="column ft-five">
                                    <div class="ft-inner">
                                        <h3 class="ft-title tt-20 main-cl t-uppercase">
                                            Công ty cổ phần yoga và hơn thế nữa
                                        </h3>
                                        <ul class="ft-list">
                                            <li class="ft-item">
                                                <span>
                                                    Địa chỉ:
                                                    <a href="#">
                                                        230/8/30A Lò Lu, Khu phố Ích Thạnh, Phường Trường Thạnh, Thành
                                                        phố Thủ Đức, Thành Phố HCM
                                                    </a>
                                                </span>
                                            </li>
                                            <li class="ft-item">
                                                <span>
                                                    Email:
                                                    <a href="mailto:info.yam@yogaandmore.vn" class="main-cl">
                                                        info.yam@yogaandmore.vn
                                                    </a>
                                                </span>
                                            </li>
                                            <li class="ft-item">
                                                <span>
                                                    Giờ làm:
                                                    <p class="dis-ib">
                                                        8h00 dến 17h00 từ thứ 2 đến thứ 7
                                                    </p>
                                                </span>
                                            </li>
                                            <li class="ft-item">
                                                <span class="t-uppercase">
                                                    YOGA AND MORE BIÊN HÒA :
                                                    <a href="#" class="t-transfom">
                                                        A113, Hẻm 728 Huỳnh Văn Nghệ, Kp. 5, Phường Bửu Long, Thành phố
                                                        Biên Hòa, T.Đồng Nai
                                                    </a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column  ft-three">
                                    <div class="ft-inner">
                                        <h3 class="ft-title tt-20 main-cl t-uppercase">
                                            Về Yoga and more
                                        </h3>
                                        <ul class="ft-list">
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">
                                                    Giới thiệu - Liên hệ
                                                </a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">
                                                    Chính sách bảo mật
                                                </a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">
                                                    Hướng dẫn thanh toán
                                                </a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">
                                                    Chính sách dịch vụ
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column ft-four ft-fa">
                                    <div class="ft-inner">
                                        <h3 class="ft-title tt-20 main-cl">
                                            Kết nối với chúng tôi
                                        </h3>
                                        <div class="ft-face">
                                            <iframe
                                                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyogaandmorevietnam&tabs=Yoga&width=370&height=163&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                                width="370" height="130" style="border:none;overflow:hidden"
                                                scrolling="no" frameborder="0" allowfullscreen="true"
                                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="column ft-five ft-contact">
                                    <div class="ft-inner">
                                        <h3 class="ft-title tt-20 main-cl">
                                            Liên hệ:
                                        </h3>
                                        <div class="ft-box">
                                            <div class="ft-b">
                                                <a href="#">
                                                    <img src="./img/icon-mobile-phone.png" alt="icon-mobile-phone.png">
                                                </a>
                                            </div>
                                            <div class="ft-b">
                                                <a href="#">
                                                    <img src="./img/icon-dtb.png" alt="icon-dtb.png">
                                                </a>
                                            </div>
                                            <div class="ft-b">
                                                <a href="#">
                                                    <img src="./img/logo-mess.png" alt="logo-mess.png">
                                                </a>
                                            </div>
                                            <div class="ft-b">
                                                <a href="#">
                                                    <img src="./img/logo-zalo.png" alt="logo-zalo.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column ft-four ft-last">
                                    <div class="ft-inner">
                                        <h3 class="ft-title tt-20 main-cl">
                                            Tổng đài tư vấn hỗ trợ khách hàng:
                                        </h3>
                                        <div class="ft-call">
                                            <div class="call-box">
                                                <div class="call-b">
                                                    <span>SĐT bàn: <a href="tel:0906846246">0906846246</a></span>
                                                </div>
                                                <div class="call-b">
                                                    <span>Hotline: <a href="tel:02836361234">02836361234</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="copy-right t-center">
                            <p>
                                @ 2021 Bản quyền thuộc về <span>Yoga And More</span> | Cung cấp bởi <span>Gonline</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Nhập từ khóa...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>