*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

img,
iframe {
	display: block;
	max-width: 100%;
	border: 0;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	image-rendering: auto;
}

ol,
ul {
	list-style-type: none;
}

table {
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
	outline: 0;
	cursor: pointer;
}

strong,
b,
.bold {
	font-weight: bold;
}

i,
.italic {
	font-style: italic;
}

sup {
	vertical-align: top;
	font-size: 70%;
}
