//primary color
$b-cl: #000000;
$w-cl: #fff;
$g-cl: #898989;
$dark-cl: #333;
$light-cl: #fff;



//color-text
$t-b-cl: $b-cl;
$t-w-cl: $w-cl;
$t-g-cl: $g-cl;


//color-background
$bg-b-cl: $b-cl;
$bg-w-cl: $w-cl;
$bg-g-cl: $g-cl;


//color design
$main-cl: #75C1A8;
$border-cl: #e1e1e1;
$g-E5E5-cl:#E5E5E5;
$g-7070-cl:#707070;
$g-F0F0-cl:#F0F0F0;
$g-F8F8-cl:#F8F8F8;
$g-F6F6-cl :#F6F6F6;
$g-EDED-cl:#EDEDED;
$g-FDFD-cl:#FDFDFD;

$b-1919-cl:#191919;
$b-3034-cl:#303437;

//font-famili , font-size
$fz-base: 10px;
$font-body: 'Montserrat', sans-serif;
$fz-body: 14px;
$lh-body: 1.4;
$cl-body: #000000;


//break point
$bk-1200: 1200px;
$bk-1024: 1024px;
$bk-992: 992px;
$bk-950: 950px;
$bk-900: 900px;
$bk-768: 768px;
$bk-576: 576px;
$bk-400: 400px;
$bk-375: 375px;

//break point - 1
$bk-d-1200: $bk-1200 - 1;
$bk-d-1024: $bk-1024 - 1;
$bk-d-992: $bk-992 - 1;
$bk-d-768: $bk-768 - 1;
$bk-d-576: $bk-576 - 1;
$bk-d-375: $bk-375 - 1;
/*width*/
$w-scroll: 0px;
$max-width: 100%;
$container-full-width: 1920px;
$container-width: 1200px;
$padding: 15px;

