.swiper-container {
    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 6px;
        background-color: $g-EDED-cl;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: $main-cl;
        width: 8px;
        height: 8px;
    }
}