.footer {
    margin-top: auto;
    background-color: $bg-w-cl;

    .footer-top {
        padding: 65px 0 60px;
        background-color: $g-FDFD-cl;
        @include max-media($bk-d-992) {
            padding: 40px 0;
        }

        .column {
            &.ft-five {
                width: calc(100% / 12 * 5);

                @include max-media($bk-d-1024) {
                    width: 50%;
                }
                @include max-media($bk-d-768){
                    width: 100%;
                }
            }

            &.ft-four {
                width: calc(100% / 12 * 4);

                @include max-media($bk-d-1024) {
                    width: 50%;
                }
                @include max-media($bk-d-768){
                    width: 100%;
                }
            }

            &.ft-three {
                width: calc(100% / 12 * 3);

                @include max-media($bk-d-1024) {
                    width: 50%;
                }
                @include max-media($bk-d-768){
                    width: 100%;
                }
            }

            &.ft-fa {
                @include max-media($bk-d-1024) {
                    order: 5;
                    width: 100%;
                }
            }
        }
    }

    .ft-contact {
        .ft-inner {
            display: flex;
            align-items: center;

            .ft-title {
                margin-bottom: 0;
                margin-right: 20px;
            }
        }
    }

    .ft-last {
        .ft-inner {
            .ft-title {
                margin-bottom: 10px;
            }
        }
    }

    .ft-inner {
        .ft-title {
            margin-bottom: 25px;
            font-weight: 600;
            @include lh(24, 20);

            @include max-media($bk-d-1024) {
                margin-bottom: 15px;
            }
            @include max-media($bk-d-768){
                margin-bottom: 10px;
            }
        }

        .ft-list {
            .ft-item {
                &:not(:first-child) {
                    margin-top: 15px;
                    @include max-media($bk-d-768){
                        margin-top: 7px;
                    }
                }

                a {
                    transition: all .3s ease;

                    &:hover {
                        color: $main-cl;
                        text-decoration: underline;
                    }

                    &.ft-link {
                        position: relative;

                        &::before {
                            content: "";
                            width: 0%;
                            height: 1px;
                            background-color: $main-cl;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: all .3s ease;
                        }

                        &:hover {
                            text-decoration: none;

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }

                span {
                    @include lh(24, 14);
                }

            }
        }


        .ft-box {
            display: flex;
            align-items: center;

            .ft-b {
                max-width: 30px;
                max-height: 30px;
                transition: all .3s ease;

                &:not(:first-child) {
                    margin-left: 5px;
                }

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }

        .ft-call {
            .call-box {
                padding-left: 40px;
                position: relative;

                &::before {
                    content: "";
                    background-image: url('../img/icon-calling.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                .call-b {
                    color: #848282;

                    &:not(:first-child) {
                        margin-top: 10px;
                        @include max-media($bk-d-768){
                            margin-top: 7px;
                        }
                    }

                    a {
                        transition: all .3s ease;

                        &:hover {
                            color: $main-cl;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        background-color: $main-cl;
    }

    .copy-right {
        p {
            line-height: 20px;

            span {
                font-weight: bold;
            }
        }
    }
}