.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        animation: fixedMenu 0.6s;

        .header-bottom-inner {
            padding: 5px 0;
        }

        .header-logo {
            img {
                max-width: 90px;
            }
        }
    }
}

.header-top {
    background-color: wheat;

    &-inner {
        display: flex;
        align-items: center;
        padding: 18px 0;
    }

    .logo {
        margin-right: 15px;
        flex-shrink: 0;
    }
}

.header-bottom {
    background: $w-cl;
    border-bottom: 1px solid rgba($color: $g-7070-cl, $alpha: 0.1);

    &-inner {
        padding: 21px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        // color: $t-w-cl;
        @include max-media($bk-d-992){
            padding: 15px 0;
        }
        @include max-media($bk-d-768){
            padding: 6px 0;
        }
    }
}

.header-logo {
    margin-right: 15px;

    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-right {
    display: flex;
    align-items: center;
    // width: 100%;
    // max-width: 700px;
    justify-content: flex-end;
}

.header-search {
    // width: 100%;
    // max-width: 300px;
    width: 300px;

    @include max-media($bk-d-992) {
        width: 250px;
    }
    @include max-media($bk-d-768){
        width: auto;
    }

    .f-control {
        border-color: rgba($color: $g-7070-cl, $alpha: 0.1);
        border-radius: 0;
        padding: 12px 50px 12px 15px;
        transition: all .3s ease;

        &:hover,
        &:focus {
            border-color: $main-cl;
        }

        &::placeholder {
            color: rgba($color: $b-cl, $alpha: 0.4);
        }
    }

    .search-form {
        .f-submit {
            background-color: $g-F0F0-cl;
            height: 42px;
            width: 42px;
            bottom: 1px;
            right: 1px;
        }
    }


    &-icon {
        display: none;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border-radius: 6px;
        font-size: 22px;
        color: $main-cl;

        @include max-media($bk-d-768) {
            display: block;
        }
    }



    @include max-media($bk-d-768) {
        .search-form {
            display: none;
        }
    }

}

.header-menu-socail {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-socail {
        width: 30px;
        height: 30px;
        // border: 1px solid $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;

        &.socail-face {
            background-color: #3B5998;
        }


        // &.socail-phone {
        //     background-color: $main-cl;
        // }
    }
}

.header-account {
    margin-left: 20px;
    position: relative;

    @include max-media($bk-d-992) {
        margin-left: 5px;
    }
    @include max-media($bk-d-768){
        margin-left: 10px;
    }

    &.active{
        .account-wrappe{
            @include visible;
        }
    }

    .account-title {
        font-size: 22px;
        height: 44px;
        width: 44px;
        align-items: center;
        justify-content: center;
        display: none;
        @include max-media($bk-d-768){
            display: flex;
        }
    }

    .account-wrappe {
        display: flex;
        align-items: center;

        @include max-media($bk-d-768) {
            position: absolute;
            top: 40px;
            right: 0%;
            background-color: $w-cl;
            border: 1px #E5E5E5 solid;
            @include hidden;
        }
        @include max-media($bk-d-768) {
            padding: 10px 5px;
        }
    }

    .account-box {
       

        .btn {
            padding: 12px 15px;
            font-weight: 400;
            text-transform: none;
            white-space: nowrap;

            &:hover {
                box-shadow: none;
            }

            @include max-media($bk-d-768) {
                padding: 0 5px;
            }
        }

        .btn-login {
            &:hover {
                color: $main-cl;
            }
        }

        .btn-signup {
            background-color: $main-cl;
            color: $t-w-cl;
            font-weight: 600;
            border: 1px solid $main-cl;
            padding: 11px 15px;

            @include max-media($bk-d-768) {
                background-color: transparent;
                color: $t-b-cl;
                border: none;
                font-weight: 400;
                padding: 0 5px;

                &::before {
                    content: "/";
                    padding-right: 10px;
                    color: $b-cl !important;
                }
            }

            &:hover {
                color: $main-cl;
                background-color: transparent;
            }
        }
    }
}

.header-cart {
    position: relative;
    margin-left: 35px;

    @include max-media($bk-d-992) {
        margin-left: 20px;
    }
    @include max-media($bk-d-768) {
        margin-left: 10px;
        margin-right: 5px;
    }

    // img{
    //     width: 100%;
    //     height: 100%;
    //     object-fit: contain;
    // }

    .cart-btn {
        cursor: pointer;
        position: relative;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include max-media($bk-d-992){
            width: 44px;
        }

        &:hover {
            .cart-text {
                color: $main-cl;
            }
        }

        .cart-text {
            padding-right: 10px;
            color: $b-1919-cl;
            @include lh(19, 16);
            font-weight: 600;
            transition: all .3s ease;

            @include max-media($bk-d-992) {
                display: none;
            }
        }

        .qty-cart {
            display: inline;
            position: absolute;
            top: 6px;
            right: -6px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: $main-cl;
            color: $t-w-cl;
            font-size: 8px;
            line-height: 14px;
            text-align: center;
        }
    }

    &.active {
        .cart-content {
            @include visible;
        }
    }

    .cart-content {
        position: absolute;
        top: 40px;
        right: 0;
        width: 330px;
        background-color: $bg-w-cl;
        border: 1px $g-E5E5-cl solid;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
        padding: 30px 24px;
        @include hidden;
        transition: all .3s ease;

        @include max-media($bk-576) {
            padding: 15px;
            width: 260px;
            // right: -75px;
        }

        .cart-list {
            .cart-item {
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba($color: $b-cl, $alpha: 0.1);
                margin-bottom: 20px;

                @include max-media($bk-576) {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
            }

            .cart-close {
                color: $g-E5E5-cl;
                font-size: 18px;
                transition: all .3s ease;
                cursor: pointer;

                &:hover {
                    color: $b-cl;
                }
            }

            .cart-img {
                margin-left: 19px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                border-radius: 6px;

                @include max-media($bk-576) {
                    margin-left: 12px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $b-cl, $alpha: 0.5);
                    z-index: 1;
                    @include hidden;
                }

                &:hover {
                    &::before {
                        @include visible;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    border-radius: 6px;
                    transition: all .3s ease;

                }
            }

            .cart-info {
                margin-bottom: 2px;
                margin-left: 13px;

                @include max-media($bk-576) {
                    margin-left: 10px;
                }

                .cart-title {
                    transition: all .3s ease;
                    cursor: pointer;

                    &:hover {
                        color: $main-cl;
                    }
                }
            }

            .cart-price {
                color: rgba($color: $t-b-cl, $alpha: 0.6);
            }
        }

        .cart-total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .total-n {
                color: $main-cl;
                font-weight: 600;
            }
        }

        .cart-pay {
            .btn-link {
                border-radius: 6px;
                border: 1px solid $b-cl;
                background-color: white;
                padding: 11px;

                &:hover {
                    letter-spacing: 2px;
                }

                &.btn-black {
                    background-color: $bg-b-cl;
                    color: $t-w-cl;
                    margin-bottom: 8px;
                }

            }
        }
    }
}

.header-menu {

    &-inner {
        .header-menu-logo {
            display: none;
            max-width: 200px;
            margin: 0 auto 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-menu-nav {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;

    @include max-media($bk-d-1200) {
        display: block;
        // overflow-x: hidden;
        // overflow-y: auto;
        // height: 400px;
    }

    // li {
    a {
        position: relative;
        padding: 10px 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        @include trans(.3s);
        //color: $t-b-cl;
        @include fz-16;

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
        }
    }

    >li {
        >a {
            @include min-media($bk-1200) {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1.5px;
                    background-color: $main-cl;
                    transition: all .3s ease;
                }

                &:hover {
                    color: $main-cl;

                    &::before {
                        width: calc(100% - 24px);
                    }
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl;
                }
            }
        }
    }

    .current-menu {
        a {
            color: $main-cl;

            &::before {
                width: calc(100% - 24px);
            }

        }
    }

    // }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-d-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    a {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;

        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }


    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    font-size: 12px;
    //color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);


    .sub-menu {
        top: 0;
        left: 100%;
    }

    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;

        @include min-media($bk-1200) {
            &:hover {
                color: $t-w-cl;
                background-color: $main-cl;
            }
        }
    }

    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid $w-cl;

            &:hover {
                color: $w-cl;
                background-color: $main-cl;
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}