.sec-100 {
    padding: 100px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

.sec-80 {
    padding: 80px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

.sec-70 {
    padding: 70px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

.sec-60 {
    padding: 60px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

.sec-50 {
    padding: 50px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

.sec-40 {
    padding: 40px 0;

    &.--pt-0 {
        padding-top: 0;
    }

    &.--pb-0 {
        padding-bottom: 0;
    }
}

@include max-media($bk-d-1200) {

    .sec-100,
    .sec-80 {
        padding: 60px 0;
    }


    .sec-70,
    .sec-60,
    .sec-50,
    .sec-40 {
        padding: 40px 0;
    }
}

@include max-media($bk-d-992) {

    .sec-100,
    .sec-80 {
        padding: 40px 0;
    }
}