.tab {
    .tab-link {
        display: flex;
        position: relative;
    }

    .tab-title {
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
        color: $b-1919-cl;

        &.active {
            color: $main-cl;
        }
    }

    .tab-content-box {
        display: none;

        &.active {
            display: block;
        }
    }

    &-lines {
        .tab-link{
            border-bottom: 1px rgba($color: $b-cl, $alpha: .1) solid;
        }
       
        .tab-line {
            transition: all .3s ease;
            height: 1px;
            background-color: $main-cl;
            position: absolute;
            bottom: -1px;
        }

    }

    &-mobi{
        .tab-link-mobi {
            display: none;
            width: 100%;
            background-color: $main-cl;
            color: $t-w-cl;
            position: relative;
            padding: 10px;
            text-transform: uppercase;
    
            @include max-media($bk-576) {
                display: block;
            }
            
            &::before{
                content: '\f107 ';
                font-family: 'Fontawesome';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 20px;
            }
    
        }

        .tab-link {
            @include max-media($bk-576) {
                border: none;
                display: block;
                background-color: $bg-w-cl;
                padding: 10px;
            }
        }

        .tab-title {
          
            padding: 0 30px 30px;

            @include max-media($bk-d-992) {
                padding: 20px;
            }

            @include max-media($bk-576) {
                padding: 8px 10px;
            }

            &:first-child {
                padding-left: 0;

                @include max-media($bk-576) {
                    padding-left: 10px;
                }
            }

            &.active {
                @include max-media($bk-576) {
                    background-color: rgba($color: $g-7070-cl, $alpha: 0.1);
                    // background-color: rgba($color: $main-cl, $alpha: 0.5);
                    // color: $w-cl;
                }
            }
        }

        .tab-line{
            @include max-media($bk-576) {
                display: none;
            }
        }
    }
}