.course-home {
    padding: 75px 0 80px;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-768) {
        padding: 40px 0;
    }


    .course-sidebar-title {
        background-color: $main-cl;
        color: $t-w-cl;
        // @include lh(50, 16);
        // padding-left: 25px;
        // padding-right: 10px;
        padding: 13px 10px 13px 25px;

        @include max-media($bk-d-1200) {
            padding: 15px 10px;
        }
    }


    .course-list {
        background-color: $bg-w-cl;

        .course-item {
            padding: 20px 25px;

            @include max-media($bk-d-1200) {
                padding: 15px 10px;
            }


            &:not(:first-child) {
                border-top: 1px solid rgba($color: $g-7070-cl, $alpha: 0.1)
            }

            .course-p {
                @include fz-16;
                font-weight: bold;
                @include lh(24, 16);
                display: inline-block;
                cursor: pointer;
                position: relative;

                &::before {
                    content: '\f111';
                    font-family: 'Fontawesome';
                    font-size: 6px;
                    vertical-align: middle;
                    padding-right: 7px;
                }

                &.curent {
                    color: $main-cl;

                    &::before {
                        color: $main-cl;
                    }
                }
            }


        }

        .sub {
            display: none;

            li {
                margin-top: 18px;

                .sub-p {
                    color: rgba($color: $b-1919-cl, $alpha: .7);
                    position: relative;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    transition: all .3s ease;
                    @include fz-16;
                    cursor: pointer;
                    @include lh(24, 16);

                    &::before {
                        content: "\f067";
                        font-family: 'Fontawesome';
                        font-size: 10px;
                        padding-right: 10px;
                    }

                    &.curent {
                        color: $main-cl;

                        &::before {
                            content: "\f068";
                        }
                    }
                }
            }

            .sub {
                padding-left: 30px;

                li {
                    .sub-p {
                        font-weight: normal;

                        &:hover {
                            color: $main-cl;
                            text-decoration: underline;
                        }

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .course-filter {
        background-color: $bg-w-cl;
        padding: 20px 25px 30px;

        @include max-media($bk-d-1200) {
            padding: 20px 20px 30px;
        }

        @include max-media($bk-d-1200) {
            padding: 15px 15px 20px;
        }

        .row-two {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

        }

        .filter-labeled {
            margin-right: 12px;

            @include max-media($bk-d-768) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .filter-group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: -5px;

            .filter-b {
                width: calc(100% / 4);
                padding: 5px;

                @include max-media($bk-d-768) {
                    width: calc(100% / 3);
                }

                @include max-media($bk-576) {
                    width: calc(100% / 2);
                }

                @include max-media($bk-400) {
                    width: calc(100% / 1);
                }
            }

            .filter-submit {
                padding: 5px;
                margin-left: auto;
                width: 100%;
                max-width: 130px;

                @include max-media($bk-576) {
                    max-width: 100%;
                }
            }

            .f-select {
                cursor: pointer;
                display: block;
                position: relative;
                @include fz-16;
                color: black;
                width: 100%;
                height: 40px;
            }

            .select-styled {
                background-image: url('../img/arrow-donw.svg');
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-color: $g-F8F8-cl;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 10px 20px;
                transition: all .3s ease;

                @include max-media($bk-576) {
                    padding: 10px;
                    background-position: right 10px center;
                }

                &:hover {
                    background-color: $bg-w-cl;
                    box-shadow: 0 0 10px rgba($color: $bg-b-cl, $alpha: 0.16);
                }

                &:active,
                &.active {
                    background-color: $bg-w-cl;
                    box-shadow: 0 0 10px rgba($color: $bg-b-cl, $alpha: 0.16);
                }
            }

            .select-options {
                display: none;
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                left: 0;
                z-index: 999;
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: $bg-w-cl;
                box-shadow: 0 0 10px rgba($color: $bg-b-cl, $alpha: 0.16);

                li {
                    margin: 0;
                    padding: 10px 0;
                    text-indent: 20px;
                    transition: all 0.15s ease-in;

                    &:hover {
                        background: $main-cl;
                        font-weight: bold;
                        color: $t-w-cl;
                    }

                    &[rel="hide"] {
                        display: none;
                    }
                }
            }

            .f-submit {
                background-color: $main-cl;
                color: $t-w-cl;
                font-weight: bold;
                padding: 10px;
                line-height: 20px;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all .3s ease;
                width: 100%;
             

                &:hover {
                    letter-spacing: 2px;
                }
            }
        }

        .filter-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: -2.5px;
            .filter-seled{
                padding: 2.5px;
            }
            .filter-bed {
                display: flex;
                align-items: center;
                background-color: rgba($color: $bg-b-cl, $alpha: 0.1);
                color: rgba($color: $t-b-cl, $alpha: 0.5);
                padding: 5px 11px;
                cursor: pointer;
                line-height: 20px;
                transition:  all .3s ease;
                &:hover{
                    color: $b-cl;
                }

                i {
                    font-size: 12px;
                    padding-left: 8px;
                }
            }
        }
    }

    .course-product {
        padding-top: 20px;
    }

    .course-sort {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 40px;
        @include max-media($bk-d-1200){
            margin-bottom: 20px;
        }

        .sort-label {
            padding-right: 15px;
            white-space: nowrap;
        }

        .sort-select {
            width: 100%;
            max-width: 270px;
            border: 1px solid rgba($color: $g-7070-cl, $alpha: 0.1);
            background-color: $bg-w-cl;
            background-image: url("../img/arrow-donw.svg");
            background-position: right 20px center;
            background-repeat: no-repeat;
            outline: none;
            padding: 13px 20px;
            line-height: 16px;
        }
    }

    .course-content{
        .column{
            width: calc(100% / 12 * 4);
            @include max-media($bk-d-768){
                width: calc(100% / 12 * 6);
            }
            @include  max-media($bk-400){
                width: 100%;
            }
        }
        .course-box{
            background-color: $bg-w-cl;
            transition: all .3s ease;
            &:hover{
                box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);
            }
        }
    }
}